.footer{
    color: #fff;
    background-color: rgb(232, 145, 130);
    bottom:0;
    width:100%;
    position: fixed;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px ; 
}

    